@import "../../styles/theme.scss";
#container{
}
.container {
  width: 100%;
  min-width:1000px;
  .main-content {
    overflow: hidden;
    min-width:1000px;
    
    .right-content {
      position: relative; 
      border-left: solid 15px #F0F0F0; 
      border-right: solid 15px #F0F0F0; 
      float:left;
     // min-width: 200px;
      width:85%;  
      min-width:500px;     
      &.right-content-full{        
      }
      .div-top{height:30px;line-height:30px;margin-bottom:15px;}
    }
  }
}
