.mt5{
    margin-top: 5px
}
.mt10{
    margin-top: 10px
}
.ml5{
    margin-left: 5px
}
.ml10{
    margin-left: 10px
}
.ml20{
    margin-left: 20px
}
.mr5{
    margin-right: 5px
}
.color-red{
    color: red
}
.tupianzhanshitext{
    float: left;
    height: 28px;
    line-height: 28px;
    background-color: #E3F3C5;
    margin-top: 10px;
    padding-right: 10px;
    padding-left: 10px
}
.zhongjianggailvtext{
    float: left;
    height: 28px;
    line-height: 28px;
    background-color: #E3F3C5;
    margin-top: 10px;
    padding-right: 10px;
    padding-left: 10px
}
.tupianzhanshibtn{
    float: left;
    line-height: 28px;
    height: 28px;
    margin-top: 10px;
    margin-left: 10px;
}
.color-E3F3C5{
    background-color: #E3F3C5;
}
.creatA{
  margin-left: 6px;
  position: relative;
  top: -8px;
}
