.border{
    border:1px solid #F0F0F0;
}
.f14{
    font-size:14px;
}
.f-red{
    color:red;
}
.f-cs{
    color:orange;
}
.ml20{
    margin-left:20px;
}
.mt5{
    margin-top:5px;
}
.mt20{
    margin-top:20px;
}
.marginR-8{
  margin-right: 8px !important;
}
