.red{
    color:red;
}
.orange{
    color:orange;
}
.F0F0F0{
  color:gray;
}
.mt10{
  margin-top: 10px;
}
.set-box{
  width: 68px;
  text-align: center;
}
.marginR-4{
  margin-right: 4px !important;
}
